# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
client/node_modules
client/.idea/*.*
target
client/package-lock.json
server/pdxmodel/.idea
database/Dump20230725-mysql8.sql
database/pdx2.mwb
database/pdx2.mwb.bak
